@page
@model Projekt_razvoj.Pages.ErrorModel
@{
    ViewData["Title"] = "Napaka";
}

<h1 class="error">Napaka</h1>
<h2 class="error">Prišlo je do napake pri obdelavi zahteve.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID zahteve:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Navodila</h3>
<p>Prosimo, poskusite znova ali se obrnite na podporo.</p>
