@page
@model Projekt_razvoj.Pages.IndexModel
@{
    ViewData["Title"] = "Domov";
}
<h1>Dobrodošli</h1>
<p>Osnovni kulturni portal: iskanje, dodajanje in shranjevanje dogodkov.</p>
<ul class="features">
    <li>Registracija uporabnika (stub)</li>
    <li>Iskanje ter filtriranje dogodkov</li>
    <li>Dodajanje med priljubljene</li>
</ul>
<p><a class="btn" asp-page="/Dogodki/Seznam">Pojdi na seznam dogodkov</a></p>
