@page
@model Projekt_razvoj.Pages.Dogodki.DodajModel
@{
    ViewData["Title"] = "Dodaj dogodek";
}
<h1>Dodaj dogodek</h1>

<form method="post">
    <label>Naslov <input asp-for="Naslov" /></label>
    <label>Vrsta <input asp-for="Vrsta" /></label>
    <label>Lokacija <input asp-for="Lokacija" /></label>
    <label>Zaèetek <input asp-for="Zacetek" type="datetime-local" value="@Model.Zacetek.ToString("s")" /></label>
    <label>Cena <input asp-for="Cena" /></label>
    <label>Priljubljenost <input asp-for="Priljubljenost" type="number" /></label>
    <button class="btn" type="submit">Dodaj</button>
</form>